/* futura-regular - latin */
@font-face {
  font-family: 'futura-pt';
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
}

/* futura-regular - latin */
@font-face {
  font-family: 'futura-pt';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
}

/* futura-regular - latin */
@font-face {
  font-family: 'futura-pt';
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
}

/* futura-regular - latin */
@font-face {
  font-family: 'futura-pt';
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
}

/* futura-regular - latin */
@font-face {
  font-family: 'futura-pt';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
}
/* futura-regular - latin */
@font-face {
  font-family: 'futura-pt';
  font-style: normal;
  font-weight: 800;
  font-display: fallback;
}

@tailwind base;

  body {
    @apply bg-gray-200 dark:bg-GunMetal text-gray-200 dark:text-GunMetal;
  }

.page-enter-active,
.page-leave-active {
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}
.btn {
  @apply font-bold text-base leading-none py-2 px-4 inline-block rounded-full cursor-pointer;
}

.btn:disabled {
  @apply opacity-50;
}

@responsive {
  .btn-lg {
    @apply py-3 px-6 text-lg;
  }
}

.btn-orange {
  @apply bg-orange-500 text-white;
  transition: background-color 0.2s ease-in-out;
}

.btn-orange:hover {
  @apply bg-orange-600 text-white;
}

.btn-orange-outline {
  @apply border border-orange-500 text-orange-500;
  transition: background-color 0.1s ease-in-out;
}

.btn-orange-outline:hover {
  @apply bg-orange-700 text-white;
}


@tailwind components;
@tailwind utilities;
